USE [master]
GO
/****** Object:  Database [PartTimeJobs]    Script Date: 17/11/2025 11:17:54 CH ******/
CREATE DATABASE [PartTimeJobs]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'PartTimeJobs', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\PartTimeJobs.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'PartTimeJobs_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\PartTimeJobs_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PartTimeJobs].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PartTimeJobs]
GO
/****** Object:  Schema [auth]    Script Date: 17/11/2025 11:17:54 CH ******/
CREATE SCHEMA [auth]
GO
/****** Object:  Schema [jobs]    Script Date: 17/11/2025 11:17:54 CH ******/
CREATE SCHEMA [jobs]
GO
/****** Object:  Schema [org]    Script Date: 17/11/2025 11:17:54 CH ******/
CREATE SCHEMA [org]
GO
/****** Object:  Schema [seeker]    Script Date: 17/11/2025 11:17:54 CH ******/
CREATE SCHEMA [seeker]
GO
/****** Object:  Table [auth].[RefreshTokens]    Script Date: 17/11/2025 11:17:54 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [auth].[RefreshTokens](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[Token] [nvarchar](500) NOT NULL,
	[ExpiresAt] [datetime2](7) NOT NULL,
	[IsRevoked] [bit] NOT NULL,
	[RevokedByIp] [nvarchar](50) NULL,
	[RevokedAt] [datetime2](7) NULL,
	[ReplacedByToken] [nvarchar](500) NULL,
	[CreatedByIp] [nvarchar](50) NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NULL,
	[IsDeleted] [bit] NOT NULL,
	[RowVersion] [timestamp] NOT NULL,
 CONSTRAINT [PK_RefreshTokens] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [auth].[Roles]    Script Date: 17/11/2025 11:17:54 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [auth].[Roles](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Description] [nvarchar](255) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NULL,
	[IsDeleted] [bit] NOT NULL,
	[RowVersion] [timestamp] NOT NULL,
 CONSTRAINT [PK_Roles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [auth].[UserRoles]    Script Date: 17/11/2025 11:17:54 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [auth].[UserRoles](
	[UserId] [int] NOT NULL,
	[RoleId] [int] NOT NULL,
	[AssignedAt] [datetime2](7) NOT NULL,
	[Id] [int] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NULL,
	[IsDeleted] [bit] NOT NULL,
	[RowVersion] [timestamp] NOT NULL,
 CONSTRAINT [PK_UserRoles] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [auth].[Users]    Script Date: 17/11/2025 11:17:54 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [auth].[Users](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Email] [nvarchar](255) NOT NULL,
	[PasswordHash] [nvarchar](500) NOT NULL,
	[FullName] [nvarchar](255) NULL,
	[PhoneNumber] [nvarchar](20) NULL,
	[AvatarUrl] [nvarchar](500) NULL,
	[IsEmailVerified] [bit] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[LastLoginAt] [datetime2](7) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NULL,
	[IsDeleted] [bit] NOT NULL,
	[RowVersion] [timestamp] NOT NULL,
	[CreatedBy] [int] NULL,
	[UpdatedBy] [int] NULL,
	[DeletedBy] [int] NULL,
	[DeletedAt] [datetime2](7) NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 17/11/2025 11:17:54 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Files]    Script Date: 17/11/2025 11:17:54 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Files](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FileName] [nvarchar](255) NOT NULL,
	[FileUrl] [nvarchar](500) NOT NULL,
	[FileType] [nvarchar](50) NULL,
	[FileSize] [bigint] NOT NULL,
	[ContentType] [nvarchar](100) NULL,
	[Checksum] [nvarchar](64) NULL,
	[UploadedBy] [int] NOT NULL,
	[UploadedAt] [datetime2](7) NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NULL,
	[IsDeleted] [bit] NOT NULL,
	[RowVersion] [timestamp] NOT NULL,
 CONSTRAINT [PK_Files] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [jobs].[ApplicationHistories]    Script Date: 17/11/2025 11:17:54 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [jobs].[ApplicationHistories](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ApplicationId] [int] NOT NULL,
	[FromStatusId] [int] NOT NULL,
	[ToStatusId] [int] NOT NULL,
	[ChangedBy] [int] NULL,
	[ChangedAt] [datetime2](7) NOT NULL,
	[Notes] [nvarchar](1000) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NULL,
	[IsDeleted] [bit] NOT NULL,
	[RowVersion] [timestamp] NOT NULL,
 CONSTRAINT [PK_ApplicationHistories] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [jobs].[Applications]    Script Date: 17/11/2025 11:17:54 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [jobs].[Applications](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[JobPostId] [int] NOT NULL,
	[ProfileId] [int] NOT NULL,
	[StatusId] [int] NOT NULL,
	[CoverLetter] [nvarchar](2000) NULL,
	[ResumeUrl] [nvarchar](500) NULL,
	[AppliedAt] [datetime2](7) NOT NULL,
	[ReviewedBy] [int] NULL,
	[ReviewedAt] [datetime2](7) NULL,
	[ReviewNotes] [nvarchar](1000) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NULL,
	[IsDeleted] [bit] NOT NULL,
	[RowVersion] [timestamp] NOT NULL,
	[CreatedBy] [int] NULL,
	[UpdatedBy] [int] NULL,
	[DeletedBy] [int] NULL,
	[DeletedAt] [datetime2](7) NULL,
 CONSTRAINT [PK_Applications] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [jobs].[ApplicationStatuses]    Script Date: 17/11/2025 11:17:54 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [jobs].[ApplicationStatuses](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Description] [nvarchar](255) NULL,
	[DisplayOrder] [int] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NULL,
	[IsDeleted] [bit] NOT NULL,
	[RowVersion] [timestamp] NOT NULL,
 CONSTRAINT [PK_ApplicationStatuses] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [jobs].[CompanyRegistrationRequests]    Script Date: 17/11/2025 11:17:54 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [jobs].[CompanyRegistrationRequests](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RequesterId] [int] NOT NULL,
	[CompanyName] [nvarchar](255) NOT NULL,
	[TaxCode] [nvarchar](50) NULL,
	[Address] [nvarchar](500) NULL,
	[Website] [nvarchar](255) NULL,
	[Description] [nvarchar](2000) NULL,
	[Industry] [nvarchar](100) NULL,
	[EmployeeCount] [int] NULL,
	[FoundedYear] [datetime2](7) NULL,
	[Status] [int] NOT NULL,
	[RejectionReason] [nvarchar](1000) NULL,
	[ReviewedBy] [int] NULL,
	[ReviewedAt] [datetime2](7) NULL,
	[ApprovedCompanyId] [int] NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NULL,
	[IsDeleted] [bit] NOT NULL,
	[RowVersion] [timestamp] NOT NULL,
	[CreatedBy] [int] NULL,
	[UpdatedBy] [int] NULL,
	[DeletedBy] [int] NULL,
	[DeletedAt] [datetime2](7) NULL,
 CONSTRAINT [PK_CompanyRegistrationRequests] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [jobs].[JobPosts]    Script Date: 17/11/2025 11:17:54 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [jobs].[JobPosts](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CompanyId] [int] NOT NULL,
	[CreatedByUserId] [int] NOT NULL,
	[Title] [nvarchar](255) NOT NULL,
	[Description] [nvarchar](max) NOT NULL,
	[Requirements] [nvarchar](3000) NULL,
	[Benefits] [nvarchar](3000) NULL,
	[SalaryMin] [decimal](12, 2) NULL,
	[SalaryMax] [decimal](12, 2) NULL,
	[SalaryPeriod] [nvarchar](20) NULL,
	[Location] [nvarchar](255) NULL,
	[WorkType] [nvarchar](50) NULL,
	[Category] [nvarchar](100) NULL,
	[NumberOfPositions] [int] NULL,
	[ApplicationDeadline] [datetime2](7) NULL,
	[Status] [int] NOT NULL,
	[ViewCount] [int] NOT NULL,
	[ApplicationCount] [int] NOT NULL,
	[IsFeatured] [bit] NOT NULL,
	[IsUrgent] [bit] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NULL,
	[IsDeleted] [bit] NOT NULL,
	[RowVersion] [timestamp] NOT NULL,
	[UpdatedBy] [int] NULL,
	[DeletedBy] [int] NULL,
	[DeletedAt] [datetime2](7) NULL,
 CONSTRAINT [PK_JobPosts] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [jobs].[JobPostSkills]    Script Date: 17/11/2025 11:17:54 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [jobs].[JobPostSkills](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[JobPostId] [int] NOT NULL,
	[SkillName] [nvarchar](100) NOT NULL,
	[RequiredLevel] [int] NULL,
	[IsRequired] [bit] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NULL,
	[IsDeleted] [bit] NOT NULL,
	[RowVersion] [timestamp] NOT NULL,
 CONSTRAINT [PK_JobPostSkills] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [jobs].[JobShifts]    Script Date: 17/11/2025 11:17:54 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [jobs].[JobShifts](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[JobPostId] [int] NOT NULL,
	[DayOfWeek] [int] NOT NULL,
	[StartTime] [time](7) NOT NULL,
	[EndTime] [time](7) NOT NULL,
	[Notes] [nvarchar](500) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NULL,
	[IsDeleted] [bit] NOT NULL,
	[RowVersion] [timestamp] NOT NULL,
 CONSTRAINT [PK_JobShifts] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [org].[Companies]    Script Date: 17/11/2025 11:17:54 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [org].[Companies](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[OwnerId] [int] NOT NULL,
	[Name] [nvarchar](255) NOT NULL,
	[Description] [nvarchar](2000) NULL,
	[Address] [nvarchar](500) NULL,
	[Website] [nvarchar](255) NULL,
	[LogoUrl] [nvarchar](500) NULL,
	[TaxCode] [nvarchar](50) NULL,
	[Industry] [nvarchar](100) NULL,
	[EmployeeCount] [int] NULL,
	[FoundedYear] [datetime2](7) NULL,
	[IsVerified] [bit] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NULL,
	[IsDeleted] [bit] NOT NULL,
	[RowVersion] [timestamp] NOT NULL,
	[CreatedBy] [int] NULL,
	[UpdatedBy] [int] NULL,
	[DeletedBy] [int] NULL,
	[DeletedAt] [datetime2](7) NULL,
 CONSTRAINT [PK_Companies] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [seeker].[ProfileCertificates]    Script Date: 17/11/2025 11:17:54 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [seeker].[ProfileCertificates](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ProfileId] [int] NOT NULL,
	[Name] [nvarchar](255) NOT NULL,
	[IssuingOrganization] [nvarchar](255) NULL,
	[IssueDate] [datetime2](7) NULL,
	[ExpiryDate] [datetime2](7) NULL,
	[CredentialId] [nvarchar](100) NULL,
	[CredentialUrl] [nvarchar](500) NULL,
	[CertificateFileUrl] [nvarchar](500) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NULL,
	[IsDeleted] [bit] NOT NULL,
	[RowVersion] [timestamp] NOT NULL,
 CONSTRAINT [PK_ProfileCertificates] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [seeker].[ProfileEducations]    Script Date: 17/11/2025 11:17:54 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [seeker].[ProfileEducations](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ProfileId] [int] NOT NULL,
	[InstitutionName] [nvarchar](255) NOT NULL,
	[Degree] [nvarchar](100) NOT NULL,
	[FieldOfStudy] [nvarchar](100) NULL,
	[StartDate] [datetime2](7) NOT NULL,
	[EndDate] [datetime2](7) NULL,
	[GPA] [decimal](3, 2) NULL,
	[Description] [nvarchar](1000) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NULL,
	[IsDeleted] [bit] NOT NULL,
	[RowVersion] [timestamp] NOT NULL,
 CONSTRAINT [PK_ProfileEducations] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [seeker].[ProfileExperiences]    Script Date: 17/11/2025 11:17:54 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [seeker].[ProfileExperiences](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ProfileId] [int] NOT NULL,
	[CompanyName] [nvarchar](255) NOT NULL,
	[Position] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](2000) NULL,
	[StartDate] [datetime2](7) NOT NULL,
	[EndDate] [datetime2](7) NULL,
	[IsCurrentlyWorking] [bit] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NULL,
	[IsDeleted] [bit] NOT NULL,
	[RowVersion] [timestamp] NOT NULL,
 CONSTRAINT [PK_ProfileExperiences] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [seeker].[Profiles]    Script Date: 17/11/2025 11:17:54 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [seeker].[Profiles](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[FirstName] [nvarchar](100) NULL,
	[LastName] [nvarchar](100) NULL,
	[DateOfBirth] [datetime2](7) NULL,
	[Gender] [int] NULL,
	[Address] [nvarchar](500) NULL,
	[City] [nvarchar](100) NULL,
	[District] [nvarchar](100) NULL,
	[StudentId] [nvarchar](50) NULL,
	[University] [nvarchar](255) NULL,
	[Major] [nvarchar](255) NULL,
	[GPA] [decimal](3, 2) NULL,
	[YearOfStudy] [int] NULL,
	[ExpectedGraduationDate] [datetime2](7) NULL,
	[ResumeUrl] [nvarchar](500) NULL,
	[Bio] [nvarchar](2000) NULL,
	[LinkedInUrl] [nvarchar](255) NULL,
	[GitHubUrl] [nvarchar](255) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NULL,
	[IsDeleted] [bit] NOT NULL,
	[RowVersion] [timestamp] NOT NULL,
	[CreatedBy] [int] NULL,
	[UpdatedBy] [int] NULL,
	[DeletedBy] [int] NULL,
	[DeletedAt] [datetime2](7) NULL,
 CONSTRAINT [PK_Profiles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [seeker].[ProfileSkills]    Script Date: 17/11/2025 11:17:54 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [seeker].[ProfileSkills](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ProfileId] [int] NOT NULL,
	[SkillName] [nvarchar](100) NOT NULL,
	[ProficiencyLevel] [int] NULL,
	[YearsOfExperience] [int] NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NULL,
	[IsDeleted] [bit] NOT NULL,
	[RowVersion] [timestamp] NOT NULL,
 CONSTRAINT [PK_ProfileSkills] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_RefreshTokens_Token]    Script Date: 17/11/2025 11:17:54 CH ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_RefreshTokens_Token] ON [auth].[RefreshTokens]
(
	[Token] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_RefreshTokens_UserId]    Script Date: 17/11/2025 11:17:54 CH ******/
CREATE NONCLUSTERED INDEX [IX_RefreshTokens_UserId] ON [auth].[RefreshTokens]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Roles_Name]    Script Date: 17/11/2025 11:17:54 CH ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Roles_Name] ON [auth].[Roles]
(
	[Name] ASC
)
WHERE ([IsDeleted]=(0))
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_UserRoles_RoleId]    Script Date: 17/11/2025 11:17:54 CH ******/
CREATE NONCLUSTERED INDEX [IX_UserRoles_RoleId] ON [auth].[UserRoles]
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Users_Email]    Script Date: 17/11/2025 11:17:54 CH ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Users_Email] ON [auth].[Users]
(
	[Email] ASC
)
WHERE ([IsDeleted]=(0))
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Files_UploadedBy]    Script Date: 17/11/2025 11:17:54 CH ******/
CREATE NONCLUSTERED INDEX [IX_Files_UploadedBy] ON [dbo].[Files]
(
	[UploadedBy] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ApplicationHistories_ApplicationId]    Script Date: 17/11/2025 11:17:54 CH ******/
CREATE NONCLUSTERED INDEX [IX_ApplicationHistories_ApplicationId] ON [jobs].[ApplicationHistories]
(
	[ApplicationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ApplicationHistories_ChangedBy]    Script Date: 17/11/2025 11:17:54 CH ******/
CREATE NONCLUSTERED INDEX [IX_ApplicationHistories_ChangedBy] ON [jobs].[ApplicationHistories]
(
	[ChangedBy] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ApplicationHistories_FromStatusId]    Script Date: 17/11/2025 11:17:54 CH ******/
CREATE NONCLUSTERED INDEX [IX_ApplicationHistories_FromStatusId] ON [jobs].[ApplicationHistories]
(
	[FromStatusId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ApplicationHistories_ToStatusId]    Script Date: 17/11/2025 11:17:54 CH ******/
CREATE NONCLUSTERED INDEX [IX_ApplicationHistories_ToStatusId] ON [jobs].[ApplicationHistories]
(
	[ToStatusId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Applications_JobPostId]    Script Date: 17/11/2025 11:17:54 CH ******/
CREATE NONCLUSTERED INDEX [IX_Applications_JobPostId] ON [jobs].[Applications]
(
	[JobPostId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Applications_JobPostId_ProfileId]    Script Date: 17/11/2025 11:17:54 CH ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Applications_JobPostId_ProfileId] ON [jobs].[Applications]
(
	[JobPostId] ASC,
	[ProfileId] ASC
)
WHERE ([IsDeleted]=(0))
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Applications_ProfileId]    Script Date: 17/11/2025 11:17:54 CH ******/
CREATE NONCLUSTERED INDEX [IX_Applications_ProfileId] ON [jobs].[Applications]
(
	[ProfileId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Applications_ReviewedBy]    Script Date: 17/11/2025 11:17:54 CH ******/
CREATE NONCLUSTERED INDEX [IX_Applications_ReviewedBy] ON [jobs].[Applications]
(
	[ReviewedBy] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Applications_StatusId]    Script Date: 17/11/2025 11:17:54 CH ******/
CREATE NONCLUSTERED INDEX [IX_Applications_StatusId] ON [jobs].[Applications]
(
	[StatusId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_ApplicationStatuses_Name]    Script Date: 17/11/2025 11:17:54 CH ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_ApplicationStatuses_Name] ON [jobs].[ApplicationStatuses]
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_CompanyRegistrationRequests_ApprovedCompanyId]    Script Date: 17/11/2025 11:17:54 CH ******/
CREATE NONCLUSTERED INDEX [IX_CompanyRegistrationRequests_ApprovedCompanyId] ON [jobs].[CompanyRegistrationRequests]
(
	[ApprovedCompanyId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_CompanyRegistrationRequests_RequesterId]    Script Date: 17/11/2025 11:17:54 CH ******/
CREATE NONCLUSTERED INDEX [IX_CompanyRegistrationRequests_RequesterId] ON [jobs].[CompanyRegistrationRequests]
(
	[RequesterId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_CompanyRegistrationRequests_ReviewedBy]    Script Date: 17/11/2025 11:17:54 CH ******/
CREATE NONCLUSTERED INDEX [IX_CompanyRegistrationRequests_ReviewedBy] ON [jobs].[CompanyRegistrationRequests]
(
	[ReviewedBy] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_CompanyRegistrationRequests_Status]    Script Date: 17/11/2025 11:17:54 CH ******/
CREATE NONCLUSTERED INDEX [IX_CompanyRegistrationRequests_Status] ON [jobs].[CompanyRegistrationRequests]
(
	[Status] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_JobPosts_CompanyId]    Script Date: 17/11/2025 11:17:54 CH ******/
CREATE NONCLUSTERED INDEX [IX_JobPosts_CompanyId] ON [jobs].[JobPosts]
(
	[CompanyId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_JobPosts_CreatedAt]    Script Date: 17/11/2025 11:17:54 CH ******/
CREATE NONCLUSTERED INDEX [IX_JobPosts_CreatedAt] ON [jobs].[JobPosts]
(
	[CreatedAt] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_JobPosts_CreatedByUserId]    Script Date: 17/11/2025 11:17:54 CH ******/
CREATE NONCLUSTERED INDEX [IX_JobPosts_CreatedByUserId] ON [jobs].[JobPosts]
(
	[CreatedByUserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_JobPosts_Status]    Script Date: 17/11/2025 11:17:54 CH ******/
CREATE NONCLUSTERED INDEX [IX_JobPosts_Status] ON [jobs].[JobPosts]
(
	[Status] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_JobPostSkills_JobPostId]    Script Date: 17/11/2025 11:17:54 CH ******/
CREATE NONCLUSTERED INDEX [IX_JobPostSkills_JobPostId] ON [jobs].[JobPostSkills]
(
	[JobPostId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_JobShifts_JobPostId]    Script Date: 17/11/2025 11:17:54 CH ******/
CREATE NONCLUSTERED INDEX [IX_JobShifts_JobPostId] ON [jobs].[JobShifts]
(
	[JobPostId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Companies_OwnerId]    Script Date: 17/11/2025 11:17:54 CH ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Companies_OwnerId] ON [org].[Companies]
(
	[OwnerId] ASC
)
WHERE ([IsDeleted]=(0))
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Companies_TaxCode]    Script Date: 17/11/2025 11:17:54 CH ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Companies_TaxCode] ON [org].[Companies]
(
	[TaxCode] ASC
)
WHERE ([TaxCode] IS NOT NULL AND [IsDeleted]=(0))
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ProfileCertificates_ProfileId]    Script Date: 17/11/2025 11:17:54 CH ******/
CREATE NONCLUSTERED INDEX [IX_ProfileCertificates_ProfileId] ON [seeker].[ProfileCertificates]
(
	[ProfileId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ProfileEducations_ProfileId]    Script Date: 17/11/2025 11:17:54 CH ******/
CREATE NONCLUSTERED INDEX [IX_ProfileEducations_ProfileId] ON [seeker].[ProfileEducations]
(
	[ProfileId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ProfileExperiences_ProfileId]    Script Date: 17/11/2025 11:17:54 CH ******/
CREATE NONCLUSTERED INDEX [IX_ProfileExperiences_ProfileId] ON [seeker].[ProfileExperiences]
(
	[ProfileId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Profiles_UserId]    Script Date: 17/11/2025 11:17:54 CH ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Profiles_UserId] ON [seeker].[Profiles]
(
	[UserId] ASC
)
WHERE ([IsDeleted]=(0))
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ProfileSkills_ProfileId]    Script Date: 17/11/2025 11:17:54 CH ******/
CREATE NONCLUSTERED INDEX [IX_ProfileSkills_ProfileId] ON [seeker].[ProfileSkills]
(
	[ProfileId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [auth].[RefreshTokens]  WITH CHECK ADD  CONSTRAINT [FK_RefreshTokens_Users_UserId] FOREIGN KEY([UserId])
REFERENCES [auth].[Users] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [auth].[RefreshTokens] CHECK CONSTRAINT [FK_RefreshTokens_Users_UserId]
GO
ALTER TABLE [auth].[UserRoles]  WITH CHECK ADD  CONSTRAINT [FK_UserRoles_Roles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [auth].[Roles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [auth].[UserRoles] CHECK CONSTRAINT [FK_UserRoles_Roles_RoleId]
GO
ALTER TABLE [auth].[UserRoles]  WITH CHECK ADD  CONSTRAINT [FK_UserRoles_Users_UserId] FOREIGN KEY([UserId])
REFERENCES [auth].[Users] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [auth].[UserRoles] CHECK CONSTRAINT [FK_UserRoles_Users_UserId]
GO
ALTER TABLE [dbo].[Files]  WITH CHECK ADD  CONSTRAINT [FK_Files_Users_UploadedBy] FOREIGN KEY([UploadedBy])
REFERENCES [auth].[Users] ([Id])
GO
ALTER TABLE [dbo].[Files] CHECK CONSTRAINT [FK_Files_Users_UploadedBy]
GO
ALTER TABLE [jobs].[ApplicationHistories]  WITH CHECK ADD  CONSTRAINT [FK_ApplicationHistories_Applications_ApplicationId] FOREIGN KEY([ApplicationId])
REFERENCES [jobs].[Applications] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [jobs].[ApplicationHistories] CHECK CONSTRAINT [FK_ApplicationHistories_Applications_ApplicationId]
GO
ALTER TABLE [jobs].[ApplicationHistories]  WITH CHECK ADD  CONSTRAINT [FK_ApplicationHistories_ApplicationStatuses_FromStatusId] FOREIGN KEY([FromStatusId])
REFERENCES [jobs].[ApplicationStatuses] ([Id])
GO
ALTER TABLE [jobs].[ApplicationHistories] CHECK CONSTRAINT [FK_ApplicationHistories_ApplicationStatuses_FromStatusId]
GO
ALTER TABLE [jobs].[ApplicationHistories]  WITH CHECK ADD  CONSTRAINT [FK_ApplicationHistories_ApplicationStatuses_ToStatusId] FOREIGN KEY([ToStatusId])
REFERENCES [jobs].[ApplicationStatuses] ([Id])
GO
ALTER TABLE [jobs].[ApplicationHistories] CHECK CONSTRAINT [FK_ApplicationHistories_ApplicationStatuses_ToStatusId]
GO
ALTER TABLE [jobs].[ApplicationHistories]  WITH CHECK ADD  CONSTRAINT [FK_ApplicationHistories_Users_ChangedBy] FOREIGN KEY([ChangedBy])
REFERENCES [auth].[Users] ([Id])
GO
ALTER TABLE [jobs].[ApplicationHistories] CHECK CONSTRAINT [FK_ApplicationHistories_Users_ChangedBy]
GO
ALTER TABLE [jobs].[Applications]  WITH CHECK ADD  CONSTRAINT [FK_Applications_ApplicationStatuses_StatusId] FOREIGN KEY([StatusId])
REFERENCES [jobs].[ApplicationStatuses] ([Id])
GO
ALTER TABLE [jobs].[Applications] CHECK CONSTRAINT [FK_Applications_ApplicationStatuses_StatusId]
GO
ALTER TABLE [jobs].[Applications]  WITH CHECK ADD  CONSTRAINT [FK_Applications_JobPosts_JobPostId] FOREIGN KEY([JobPostId])
REFERENCES [jobs].[JobPosts] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [jobs].[Applications] CHECK CONSTRAINT [FK_Applications_JobPosts_JobPostId]
GO
ALTER TABLE [jobs].[Applications]  WITH CHECK ADD  CONSTRAINT [FK_Applications_Profiles_ProfileId] FOREIGN KEY([ProfileId])
REFERENCES [seeker].[Profiles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [jobs].[Applications] CHECK CONSTRAINT [FK_Applications_Profiles_ProfileId]
GO
ALTER TABLE [jobs].[Applications]  WITH CHECK ADD  CONSTRAINT [FK_Applications_Users_ReviewedBy] FOREIGN KEY([ReviewedBy])
REFERENCES [auth].[Users] ([Id])
GO
ALTER TABLE [jobs].[Applications] CHECK CONSTRAINT [FK_Applications_Users_ReviewedBy]
GO
ALTER TABLE [jobs].[CompanyRegistrationRequests]  WITH CHECK ADD  CONSTRAINT [FK_CompanyRegistrationRequests_Companies_ApprovedCompanyId] FOREIGN KEY([ApprovedCompanyId])
REFERENCES [org].[Companies] ([Id])
ON DELETE SET NULL
GO
ALTER TABLE [jobs].[CompanyRegistrationRequests] CHECK CONSTRAINT [FK_CompanyRegistrationRequests_Companies_ApprovedCompanyId]
GO
ALTER TABLE [jobs].[CompanyRegistrationRequests]  WITH CHECK ADD  CONSTRAINT [FK_CompanyRegistrationRequests_Users_RequesterId] FOREIGN KEY([RequesterId])
REFERENCES [auth].[Users] ([Id])
GO
ALTER TABLE [jobs].[CompanyRegistrationRequests] CHECK CONSTRAINT [FK_CompanyRegistrationRequests_Users_RequesterId]
GO
ALTER TABLE [jobs].[CompanyRegistrationRequests]  WITH CHECK ADD  CONSTRAINT [FK_CompanyRegistrationRequests_Users_ReviewedBy] FOREIGN KEY([ReviewedBy])
REFERENCES [auth].[Users] ([Id])
ON DELETE SET NULL
GO
ALTER TABLE [jobs].[CompanyRegistrationRequests] CHECK CONSTRAINT [FK_CompanyRegistrationRequests_Users_ReviewedBy]
GO
ALTER TABLE [jobs].[JobPosts]  WITH CHECK ADD  CONSTRAINT [FK_JobPosts_Companies_CompanyId] FOREIGN KEY([CompanyId])
REFERENCES [org].[Companies] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [jobs].[JobPosts] CHECK CONSTRAINT [FK_JobPosts_Companies_CompanyId]
GO
ALTER TABLE [jobs].[JobPosts]  WITH CHECK ADD  CONSTRAINT [FK_JobPosts_Users_CreatedByUserId] FOREIGN KEY([CreatedByUserId])
REFERENCES [auth].[Users] ([Id])
GO
ALTER TABLE [jobs].[JobPosts] CHECK CONSTRAINT [FK_JobPosts_Users_CreatedByUserId]
GO
ALTER TABLE [jobs].[JobPostSkills]  WITH CHECK ADD  CONSTRAINT [FK_JobPostSkills_JobPosts_JobPostId] FOREIGN KEY([JobPostId])
REFERENCES [jobs].[JobPosts] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [jobs].[JobPostSkills] CHECK CONSTRAINT [FK_JobPostSkills_JobPosts_JobPostId]
GO
ALTER TABLE [jobs].[JobShifts]  WITH CHECK ADD  CONSTRAINT [FK_JobShifts_JobPosts_JobPostId] FOREIGN KEY([JobPostId])
REFERENCES [jobs].[JobPosts] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [jobs].[JobShifts] CHECK CONSTRAINT [FK_JobShifts_JobPosts_JobPostId]
GO
ALTER TABLE [org].[Companies]  WITH CHECK ADD  CONSTRAINT [FK_Companies_Users_OwnerId] FOREIGN KEY([OwnerId])
REFERENCES [auth].[Users] ([Id])
GO
ALTER TABLE [org].[Companies] CHECK CONSTRAINT [FK_Companies_Users_OwnerId]
GO
ALTER TABLE [seeker].[ProfileCertificates]  WITH CHECK ADD  CONSTRAINT [FK_ProfileCertificates_Profiles_ProfileId] FOREIGN KEY([ProfileId])
REFERENCES [seeker].[Profiles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [seeker].[ProfileCertificates] CHECK CONSTRAINT [FK_ProfileCertificates_Profiles_ProfileId]
GO
ALTER TABLE [seeker].[ProfileEducations]  WITH CHECK ADD  CONSTRAINT [FK_ProfileEducations_Profiles_ProfileId] FOREIGN KEY([ProfileId])
REFERENCES [seeker].[Profiles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [seeker].[ProfileEducations] CHECK CONSTRAINT [FK_ProfileEducations_Profiles_ProfileId]
GO
ALTER TABLE [seeker].[ProfileExperiences]  WITH CHECK ADD  CONSTRAINT [FK_ProfileExperiences_Profiles_ProfileId] FOREIGN KEY([ProfileId])
REFERENCES [seeker].[Profiles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [seeker].[ProfileExperiences] CHECK CONSTRAINT [FK_ProfileExperiences_Profiles_ProfileId]
GO
ALTER TABLE [seeker].[Profiles]  WITH CHECK ADD  CONSTRAINT [FK_Profiles_Users_UserId] FOREIGN KEY([UserId])
REFERENCES [auth].[Users] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [seeker].[Profiles] CHECK CONSTRAINT [FK_Profiles_Users_UserId]
GO
ALTER TABLE [seeker].[ProfileSkills]  WITH CHECK ADD  CONSTRAINT [FK_ProfileSkills_Profiles_ProfileId] FOREIGN KEY([ProfileId])
REFERENCES [seeker].[Profiles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [seeker].[ProfileSkills] CHECK CONSTRAINT [FK_ProfileSkills_Profiles_ProfileId]
GO
USE [master]
GO
